body {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  transition: 0.3s ease-in;
}

.positive {
  color: green;
}
.negative {
  color: red;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}
